DEFI_MANAGER_MODE=simulation
DEFI_MANAGER_DATABASE_PATH=./data/defi-manager.sqlite3
DEFI_MANAGER_LOG_LEVEL=INFO
DEFI_MANAGER_MAX_TRADE_NOTIONAL_USD=1000
DEFI_MANAGER_MAX_DAILY_LOSS_USD=100
DEFI_MANAGER_MAX_SLIPPAGE_BPS=100
DEFI_MANAGER_MAX_MODULE_EXPOSURE_USD=10000
